<div class="country-item " >
  <div class="row">
    <div class="col-sm-4">
      <img src="{{item?.flag}}"  class="img-fluid" >
    </div>
    <div class="col-sm-8">
      <h4>{{item?.name}}</h4>
      currency:{{item?.currencies[0].name}}
      <br>
      current date and time : {{item?.timezone}}
      <br>
      <br>
      <a href="https://www.google.com/maps/?q=+{{item?.name}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true" width="200px">Show Map</a>
      <a [routerLink]="['country',item?.alpha3Code]"   type="button" class="btn btn-primary btn-lg active" style='margin-left:16px'>Details</a>
    </div>
  </div>

</div>
